<div class="jumbotron text-center">
	<!-- <h1>Home Page</h1> -->
	<h1><%= topicHead %></h1>
	<a href="/events" class="btn btn-lg btn-danger">See Rides </a>
	<a href="/rides" class="btn btn-lg btn-danger">Raise Rides </a>
</div>
