
    <form name="form1" method="POST" action="/rides">
    <table>
        <tr>
        <td>Rider's name</td>
        <td><input type="text" name="fname" ></td>
        </tr>
        <tr>
        <td>Rider's telephone number</td>
        <td><input type="text" name="phone" ></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="Save" ></td>
        </tr>
    </table>
    </form>   

