<!DOCTYPE html>
<html lang="en">
<head>
  	<title>MY APP</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
	
<!--header-->

<header id="site-header">
  <div class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">MY APP</a>
      </div>      
    </div>
  </div>
</header>

<!--main-->
  <main id="site-main">
    <div class="container">
    <%- body %>
    </div>
  </main>


<!--footer -->
<footer id="site-footer">
Copyright &copyright; 2017 MY APP

</footer>
</body>
</html>